<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ patient.name }}</h1>


<ul>
    {% for exam in patient.basicexam_set.all %}
        <li>{{ exam.exam_date }} </li>
    {% endfor %}
</ul>
    <a href="{% url 'endo:admit' patient.id %}"> 수정 </a>




</body>
</html>





