<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if patient_list %}
    <ul>
        {% for patient in patient_list %}
            <li><a href="{% url 'endo:detail' patient.id %}"> {{ patient.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href = "{% url 'endo:listinput' %}"> 환자 생성 </a>

</body>
</html>