<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if error_message %}<p><strong> {{ error_message }}</strong></p>{% endif %}

<form action = "{% url 'endo:create'  %}" method="post">
    {% csrf_token %}
    <label for="name">이름 </label>
    <input type ="text" name="name" id = "name" /><br/>

    <label > <input type ="radio" name="sex" value="M"  />남</label>
    <label><input type ="radio" name="sex" value="F"  />여 </label>

    <label>생년월일 <input type="date" name="birthday" /> </label>


    <input type="submit" value = "create"/>
</form>


</body>
</html>