<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>환자 연령대 </h3>
{{ minage | timesince}}--{{maxage | timesince}}
<h3>환자 수 </h3>
{{count}}
<h3>DCG와 dacryoscopy  폐쇄위치 일치도 </h3>
{{kappa}}


</body>
</html>